$fontSize: 14px;
$btnHeight: 30px;

*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
    overflow: hidden;
    font-family: "microsoft yahei";
}
// todo
// body {
//     background: rgba(0,0,0,.5);
// }
#root{
	padding: 10px 30px 30px;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    border-radius: 10px;

    >div {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    // todo
    // width: 900px;
    // height: 500px;
}

$inputColor: rgb(153, 153, 153);
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: $inputColor;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color: $inputColor;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color: $inputColor;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: $inputColor;
}
input, textarea{
	line-height: 1.42857143;
}